<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Registration</title>
</head>
<body class="bg-light">
<div class="container">
    <h3 class="mt-5">Booking Registration</h3>
    <hr>
    <div id="loginbox" class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card border-info">
                <div class="card-header bg-info text-white">
                    New Booking
                </div>
                <div class="card-body">
                    <!-- Registration Form -->
                    <form action="#" th:action="@{/bookings}" th:object="${booking}" method="POST" class="form-horizontal">
                        <!-- Place for messages: error, alert etc ... -->
                        <div class="form-group">
                            <div class="col-12">
                                <!-- Check for booking error -->
                                <div th:if="${param.bookingError}">
                                    <div class="alert alert-danger">
                                        <span th:text="${param.bookingError}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Date input -->
                        <div class="form-group mb-3">
                            <input type="date" th:field="*{date}" placeholder="Date (*)" class="form-control" />
                        </div>
                        <!-- Date field error -->
                        <div th:if="${#fields.hasErrors('date')}" class="form-group mb-3 text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('date')}" th:text="'Date ' + ${err}"></li>
                            </ul>
                        </div>
                        <!-- Hidden checkbox -->
                        <input type="checkbox" th:checked="*{redeemed}" th:field="*{redeemed}" hidden />
                        <!-- Registration Button -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" th:text="'Book for ' + *{DAILY_CHARGE} + ' euro'"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>