<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Reviews</title>

</head>

<body>

<div class="container">

    <h3>Reviews</h3>
    <hr>
    <div>
        <a th:href="@{/reviews/new}" class="btn btn-primary mt-3" role="button" aria-pressed="true">Add a review</a>
    </div>

    <div th:if="${reviews.size() != 0}">
        <div th:each="review : ${reviews}">
            <hr>
                <h3 th:text="${review.heading}"></h3>
            <span th:text="${review.timestamp}"> </span><span th:text="' From ' + ${review.author.userName}"> </span>
            <p th:text="${review.body}"></p>
            <p th:text="'Number of stars: ' +${review.starsNumber}"></p>
            <hr>
            </div>
    </div>
    <div th:if="${reviews.size() == 0}">
        <p>No available reviews yet</p>
    </div>
    <a th:href="@{/spots}">Go back</a>

</div>

</body>
</html>