<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Parking Service</title>
    <script>

        document.addEventListener("DOMContentLoaded", function() {
            const eventSource = new EventSource("/parkingArea/sse");
            eventSource.onmessage = (event) => {
                console.log(`Event received: ${event.data}`)

                const data = JSON.parse(event.data)
                const row = document.getElementById(data.id);
                const spotStatusCell = row.querySelector('#spotStatus');
                const spotEstimatedTime = row.querySelector('#estimatedTime')
                spotStatusCell.textContent = data.status;

                if(data.status === "FREE") {
                    spotEstimatedTime.textContent = ""
                }

                eventSource.onerror = (error) => {
                    console.error("Error occurred:", error);
                    eventSource.close();
                };
            };
        });



    </script>
</head>

<body>

<div class="container">

    <h3>Parking Area Map</h3>
    <hr>
    <div>
        <a th:href="@{/parkings/checkin}" class="btn btn-primary mt-3" role="button" aria-pressed="true">Check In</a>
    </div>
    <div>
        <a th:href="@{/parkings/checkout}" class="btn btn-primary mt-3" role="button" aria-pressed="true">Check Out</a>
    </div>
    <div>
        <a th:href="@{/templates/parking/bookings}" class="btn btn-primary mt-3" role="button" aria-pressed="true">Book</a>
    </div>
    <div>
    <a th:href="@{/reviews}" class="btn btn-primary mt-3" role="button" aria-pressed="true">See review</a>
    </div>
    <div>
    <a th:href="@{/reportings}" class="btn btn-primary mt-3" role="button" aria-pressed="true">See reportings</a>
    </div>
    <div>
        <a th:href="@{/analysis}" class="btn btn-primary mt-3" role="button" aria-pressed="true">See analysis</a>
    </div>


    <form sec:authorize="isAuthenticated()" action="#" th:action="@{/logout}"
          method="POST">

        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

    </form>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Spot number</th>
            <th>Status</th>
            <th>Color</th>
            <th>Estimated Time</th>
            <th sec:authorize="hasRole('ADMIN')">Actions</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="parkingSpot : ${parkingArea.keySet()}" th:id="${parkingSpot.id}">

            <td><span th:text="${parkingSpot.rowNumber}"></span><span th:text="${parkingSpot.columnNumber}"></span></td>
            <td id="spotStatus" th:text="${parkingSpot.status}" />
            <td th:text="${parkingSpot.stripeColor}" />
            <div th:if="${parkingArea.get(parkingSpot) != null}">
                <td id="estimatedTime" th:text="${parkingArea.get(parkingSpot).estimatedTime}"></td>
            </div>



                <td >
                    <div sec:authorize="hasRole('ADMIN')">
                    <form
                            action="#" th:action="@{'/parkingArea/spots/' + ${parkingSpot.id} + '/toggleAvailability'}"
                            method="POST">

                            <button type="submit" class="btn btn-danger">Toggle availability</button>

                    </form>
                    </div>

                </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>