<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Parking Confirmation</title>
</head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<body class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light">
<div class="container text-center">
    <h2 class="mb-4">Parking spot found successfully!</h2>
    <ul class="list-unstyled mb-4">
        <li th:text="'Spot: ' + ${parking.getSpot().getSpotIdentifier()}"></li>
    </ul>
    <form action="#" th:action="@{/parkings}" th:object="${parking}" method="POST" class="form-horizontal">
        <!-- Place for messages: error, alert etc ... -->
        <div class="form-group">
            <div class="col-12">
                <!-- Check for login error -->
                <div th:if="${param.parkingError}">
                    <div class="alert alert-danger">
                        <span th:text="${param.parkingError}"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Estimated time input -->
        <div class="form-group mb-4">
            <label for="estimatedTime" class="form-label">How long would it take?</label>
            <input type="time" th:field="*{estimatedTime}" class="form-control" id="estimatedTime" />
            <input type="number" th:field="*{id}" hidden>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Set</button>
        </div>
    </form>
    <hr>
    <a th:href="@{/spots}" class="btn btn-secondary">See map</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>